.button{
    max-width:600px;
    border: 0;
    border-radius: 0.2rem;
    background-color: var(--yellow);
    color:var(--background);
    padding: 0.4rem;
    transition: filter 0.2s;
    &[disabled]{
        cursor: not-allowed;
        svg{
            animation: animate 2s infinite;
        }
    }
    &:hover{
        filter:brightness(1.1)
    }
}

.buttonText{
    color:var(--background)
}

@keyframes animate {
    from{
        transform: rotate(0deg);
    }to{
        transform: rotate(360deg);
    }
}